.container {
  display: flex;
  margin-left: 260px;
  margin-right: 260px;
}

.form-total {
  display: flex;
  flex-direction: column;
}

.container-list {
  display: flex;
  flex-direction: column;
}
